body {
    background-color: beige;
}
h1 {
    color: chocolate;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
h2 {
    color: chocolate;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
table {
    border: 1px solid;
    border-color: black;
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
th {
    border: 1px solid;
    border-color: black;
    border-collapse: collapse;
    padding: 2px 4px;
    color: black;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
}
td {
    border: 1px solid;
    border-color: black;
    border-collapse: collapse;
    padding: 2px 4px;
    font-family: Georgia, serif;
    font-size: 15px;
}
.tcNo {
    width: 9.2ch;
    min-width: 9.2ch;
    height: 1ex;
}
.ErrorTC {
    color: maroon;
}
.PassedTC {
    color: green;
}
.FailedTC {
    color: red;
}